ELASTICSEARCH_CLUSTER=elasticsearch
ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_INDEX_NAME=lov
MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_INSTANCE=lov
LANGUAGES_FILE_PATH=C:/Users/vandenbusschep/Documents/GitHub/lovScripts/languages.rdf
LOV_DATASET_URI=http://lov.okfn.org/dataset/lov
LOV_ENDPOINT=http://localhost:8280/openrdf-sesame/repositories/Mem_NO_Inference
LOV_NQ_FILE_PATH=C:/Users/vandenbusschep/Documents/GitHub/lov/public/lov.nq
LOV_RDF_FILE_PATH=C:/Users/vandenbusschep/Documents/GitHub/lovScripts/lov.rdf
LOV_N3_FILE_PATH=C:/Users/vandenbusschep/Documents/GitHub/lov/public/lov.n3
METRICS_FILE_PATH=C:/Users/vandenbusschep/Documents/GitHub/lovScripts/lov_metrics.n3
VERSIONS_DIR_PATH=C:/Users/vandenbusschep/Documents/GitHub/lov/versions
VERSIONS_TEMP_PATH=C:/Users/vandenbusschep/Documents/GitHub/lov/versions/temp
